@import url("http://fonts.googleapis.com/css?family=Lato:100");

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

#btn {
	display: inline-block;
	width: 200px;
	padding: 16px;
	font: 20px/20px Lato;
	position: absolute;
  	bottom: 25px;
    	right: 25px;
    	color: #fff;
    	border: 1px solid #fff;
    	border-radius: 5px;
    	text-align: center;
    	outline: none;
    	text-decoration: none;
    	transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

#btn:hover {
	background-color: #fff; /* fallback */
    	background-color: rgba(255, 255, 255, 0.4);
    	border-color: #fff; /* fallback */
    	border-color: rgba(255, 255, 255, 0.4);
    	transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

#time {
	color: #fff;
	font: 64px/64px Lato;
	height: 64px;
	position: fixed; /* or absolute */
  	top: 50%;
  	left: 50%;
}
